$beforeHoverBackground: rgb(235, 235, 235);
$beforeHoverBorder: rgb(210, 210, 210);
$hoverBackground: rgb(224, 224, 224);

/*#region SideNav/Header */

/*#region HeaderComponentBoards*/

.header-component-helper{
      width: auto;
      margin-left: 15px;
}

.header-component-mat-content-menu-custom {
      padding-left: 8px;
      padding-right: 8px;
}

.header-component-mat-content-menu-custom .textarea{
      width: 200px;
      height: 29px;
      font-size: 14px;
      font-weight: 400;
      background: $beforeHoverBackground;
      border: 1px solid $beforeHoverBorder;
      border-radius: 4px;
      resize: none;
      overflow: hidden;
}

.header-component-mat-content-menu-custom .textarea:hover{
      background: $hoverBackground;
}

.header-component-mat-content-expander-title{
      margin-left: 8px;
      font-size: 12px;
      letter-spacing: .04em;
      text-transform: uppercase;
}

.header-component-mat-content-expander-title .icon{
      width: 17px;
      height: 17px;
      position: absolute;
      left: 10px;
}

/*#endregion HeaderComponentBoards */

/*#region HeaderUser*/

.header-user{
      position: absolute;
      top: 0px;
      right: 20px;
      height: 40px;
      align-items: center;
}

.header-user .button{
      width: 30px;
}

.header-user .user-card{
      background: transparent;
      top: -11px;
}

/*#endregion HeaderUser*/

/*#region LeftMenu*/

.application-sidenav {
      min-width:62px; 
      background: gray;
}

.header-icon{
      width: 30px;
      height: 30px;
}

.application-menu-item{
      height: auto !important; 
      padding-top: 5px !important; 
      padding-bottom: 5px !important; 
}

.application-menu-item .application-menu-item-icon{
      font-size: unset !important; 
      width: 24px !important; 
      height: 24px !important;
}

/*#endregion SideNav/Header */

/*#region Custom Menu*/

.block-component{
      display: block;
}

.mat-content-menu-custom {
      padding-left: 8px;
      padding-right: 8px;
}

.mat-content-menu-custom .mat-menu-text{
      text-align: justify;
      font-size: 0.85rem;
      padding-bottom: 8px;
}

.mat-content-menu-custom .mat-menu-button{
      width: 100%;
      margin: 0 auto;
      text-align: center;
}

.mat-menu-item {
      line-height: 35px;
      height: auto;
}

/*#endregion Custom Menu*/

/*
transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    transition-property: background, opacity, border-color;
    transition-duration: 85ms, 40ms, 85ms;
    transition-timing-function: ease-in, ease-in, ease-in;
    transition-delay: 0s, 0s, 0s;

*/
