<div fxLayout="column" style="height: 100vh;">
  <mat-toolbar fxFlex="40px" color="primary">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon svgIcon="list" class="header-icon"></mat-icon>
    </button>

    <!-- Boads Menu -->
    <div fxLayout="row">
      <button mat-icon-button class="header-component-helper" [matMenuTriggerFor]="boardsMenu">
        <mat-icon svgIcon="boards" class="header-icon"></mat-icon>
        {{ 'APPLICATION.HUD.Boards' | translate }}
      </button>
      <mat-menu #boardsMenu="matMenu">
        <div class="header-component-mat-content-menu-custom" (click)="$event.stopPropagation()">
          <textarea matInput autoFocus spellcheck="false" class="textarea" placeholder="{{ 'APPLICATION.HUD.Boards-list.Find-hint' | translate }}"></textarea>       
        </div>
        <mat-accordion (click)="$event.stopPropagation()">
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              <mat-panel-title class="header-component-mat-content-expander-title">
                <mat-icon svgIcon="star" class="icon"></mat-icon>
                {{ 'APPLICATION.HUD.Boards-list.Starred' | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <tr *ngFor="let board of boards$ | async">
              <button (click)="selectBoard(board)">{{ board.name }}</button>
            </tr>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              <mat-panel-title class="header-component-mat-content-expander-title">
                <mat-icon svgIcon="star" class="icon"></mat-icon>
                {{ 'APPLICATION.HUD.Boards-list.Recent' | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              <mat-panel-title class="header-component-mat-content-expander-title">
                <mat-icon svgIcon="star" class="icon"></mat-icon>
                {{ 'APPLICATION.HUD.Boards-list.Personal' | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              <mat-panel-title class="header-component-mat-content-expander-title">
                <mat-icon svgIcon="star" class="icon"></mat-icon>
                {{ 'APPLICATION.HUD.Boards-list.Shared' | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
        
        
        <button mat-menu-item class="mat-menu-item" (click)="openDialog()">{{ 'APPLICATION.HUD.Boards-list.Create' | translate }}</button>
      </mat-menu> 
    </div>

    <!-- User Menu -->
    <div fxLayout="row" class="header-user">
      <button mat-icon-button class="button" [matMenuTriggerFor]="userMenu">
          <ngx-avatar name="{{user.name}} {{user.surname}}" size="30"></ngx-avatar>    
      </button>
      <mat-menu #userMenu="matMenu">
        <span mat-menu-item disabled="true">{{user.name}} {{user.surname}}</span>
        <mat-divider></mat-divider>
        <button mat-menu-item class="mat-menu-item" [routerLink]="['./profile']">{{ 'APPLICATION.HUD.Profile' | translate }}</button>
        <button mat-menu-item class="mat-menu-item" [routerLink]="['./activity']">{{ 'APPLICATION.HUD.Activity' | translate }}</button>
        <button mat-menu-item class="mat-menu-item" [routerLink]="['./projects']">{{ 'APPLICATION.HUD.Projects' | translate }}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="mat-menu-item" (click)="logOut()">{{ 'APPLICATION.HUD.LogOut' | translate }}</button>
      </mat-menu> 
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlex="auto">
    <mat-sidenav #sideNav mode="side" opened="true" [@onSideNavChange]="isExpanded" class="application-sidenav" autosize>
      <mat-nav-list>
          <mat-list-item (click)="toggleActive($event)" class="application-menu-item" [routerLink]="['./dashboard']">
            <mat-icon matListIcon svgIcon="dashboard" class="application-menu-item-icon"></mat-icon>
            <p matLine *ngIf="isExpanded">{{ 'APPLICATION.HUD.Dashboard' | translate }}</p>
          </mat-list-item>
          
          <mat-divider></mat-divider>
  
          <mat-list-item (click)="toggleActive($event)" class="application-menu-item">
            <mat-icon matListIcon svgIcon="calendar" class="application-menu-item-icon"></mat-icon>
            <p matLine *ngIf="isExpanded">Calendar</p>
          </mat-list-item>

          <mat-list-item (click)="toggleActive($event)" class="application-menu-item" [routerLink]="['./board']">
            <mat-icon matListIcon svgIcon="todo" class="application-menu-item-icon"></mat-icon>
            <p matLine *ngIf="isExpanded">{{ 'APPLICATION.HUD.Boards' | translate }}</p>
          </mat-list-item>

          <mat-list-item (click)="toggleActive($event)" class="application-menu-item">
            <mat-icon matListIcon svgIcon="support" class="application-menu-item-icon"></mat-icon>
            <p matLine *ngIf="isExpanded">Tickets</p>
          </mat-list-item>

          <mat-list-item (click)="toggleActive($event)" class="application-menu-item">
            <mat-icon matListIcon svgIcon="time" class="application-menu-item-icon"></mat-icon>
            <p matLine *ngIf="isExpanded">Timesheets</p>
          </mat-list-item>
  
          <mat-divider></mat-divider>
  
          <mat-list-item (click)="toggleActive($event)" class="application-menu-item">
            <mat-icon matListIcon svgIcon="settings" class="application-menu-item-icon"></mat-icon>
            <p matLine *ngIf="isExpanded">Settings</p>
          </mat-list-item>
        </mat-nav-list>
    </mat-sidenav> 

    <mat-sidenav-content fxFlex="auto">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>