<div fxLayout="column">
      <div fxLayout="row" class="activity-title" fxLayoutGap="10px">
            <mat-icon class="vertical-centered-margin" svgIcon="timeline"></mat-icon>
            <span class="title vertical-centered-margin">{{ 'APPLICATION.Boards.CardDialog.Activity' | translate }}</span>
      </div>
      <mat-tab-group mat-align-tabs="end">
            <mat-tab label="{{ 'APPLICATION.Common.Activity.Messages' | translate }}">
                  <ng-template matTabContent>
                        <div class="activity-padding">
                              <div *ngIf="comments.length === 0">
                                    {{ 'APPLICATION.Common.Activity.NoComments' | translate }}  
                              </div>
                              <div fxLayout="column" fxLayoutGap="10px">
                                    <div *ngFor="let comment of comments">
                                          <common-activity-message [message]="comment" [users]="users" [selectedUser]="selectedUser"></common-activity-message>
                                    </div>
                              </div>
                        </div>
                  </ng-template>
            </mat-tab>
            <mat-tab label="{{ 'APPLICATION.Common.Activity.CardActivitiy' | translate }}">
                  <ng-template matTabContent>
                        <div class="activity-padding">
                              <div fxLayout="column" *ngFor="let cardActivity of cardActivities" fxLayoutGap="10px">
                                    <common-activity-message [message]="cardActivity" [users]="users" [selectedUser]="selectedUser"></common-activity-message>
                              </div>
                        </div>
                  </ng-template>
            </mat-tab>
      </mat-tab-group>

</div>