<div class="application-child" fxLayout="column">
      <!-- Top Nav -->
      <mat-toolbar fxFlex="40px" [style.background]="board.settings.colorDark" >
            <div fxLayout="row" class="toolbar">
                  <div class="item">
                        <div *ngIf="!isBoardTitleEditable" class="list-label" (click)="changeBoardTitleState()">{{board.name}}</div>
                        <input *ngIf="isBoardTitleEditable" class="list-textarea" type="text" [formControl]="boardTitleForm" (blur)="updateBoardName()" [extraWidth]="10" [maxWidth]="500" spellcheck="false" autoFocus AutoSizeInput>
                  </div>
                  <button mat-icon-button class="button-icon" (click)="changeStarredStatus()">
                        <animated-icon [isChecked]="board.settings.starred" [icons]="'star-border,star'"></animated-icon>
                  </button>
            </div>
      </mat-toolbar>


      <mat-sidenav-container fxFlex="auto" class="transparent" [style.background]="board.settings.colorLight">
            <!-- Menu -->
            <mat-sidenav #sideNavSettings mode="side" [(opened)]="settings" position="end" autosize>
                 Hola
            </mat-sidenav> 
            <mat-sidenav-content fxLayout="row">
                  <div cdkDropListGroup>
                        <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="board.lists" (cdkDropListDropped)="drop($event)">
                              <!-- Lists -->
                              <div *ngFor="let list of board.lists; index as listIndex" fxFlex="300px" class="board-column" cdkDrag>
                                    <board-card-list [list]="list" [index]="listIndex" [listTracker]="trackCardListIds" [listNames]="cardListNames" (PriorityChanged)="dropCard($event)" (MoveListItems)="moveListTo($event)"></board-card-list>
                              </div>
                              <!-- Add List -->
                              <div class="board-column" fxFlex="300px" (clickOutside)="addibleListHandler(false)">
                                    <mat-card class="add-card-list"  (clickInside)="addibleListHandler(true)">
                                          <mat-card-actions fxLayout="column">
                                                <div fxLayout="row" *ngIf="!isNewCardListAddible">
                                                      <mat-icon mat-icon-button svgIcon="add" class="edit-icon"></mat-icon>
                                                      <div class="label">{{ 'APPLICATION.Boards.AddList' | translate }}</div>
                                                </div>
                                                <div  *ngIf="isNewCardListAddible">
                                                      <input class="textarea" spellcheck="false" [formControl]="newCardListFormControl" placeholder="{{ 'APPLICATION.Boards.AddList-input' | translate }}" autoFocus>
                                                      <button mat-raised-button color="primary" class="button" disabled="{{!newCardListFormControl.valid}}" (click)="newCardList()">Add</button>
                                                      <button mat-raised-button color="warn" class="button" (click)="addibleListHandler(false);$event.stopPropagation()">Cancel</button>
                                                </div>
                                          </mat-card-actions>
                                    </mat-card>
                              </div>
                        </div>
                  </div>
            </mat-sidenav-content>
      </mat-sidenav-container>
</div>