<div class="application-child" fxLayout="column">
      <!-- Top Nav -->
      <mat-toolbar fxFlex="40px" [style.background]="board.settings.color.colorDark" >
            <div fxLayout="row" class="toolbar">
                  <div class="item">
                        <div *ngIf="!isBoardTitleEditable" class="list-label" (click)="isBoardTitleEditable = true">{{board.name}}</div>
                        <input *ngIf="isBoardTitleEditable" class="list-textarea" type="text" [formControl]="boardTitleForm" (blur)="updateBoardName()" [extraWidth]="10" [maxWidth]="500" spellcheck="false" autoFocus AutoSizeInput>
                  </div>
                  <button mat-icon-button class="button-icon" (click)="board.settings.userSettings.starred = !board.settings.userSettings.starred">
                        <animated-icon  [isChecked]="board.settings.userSettings.starred" [icons]="'star-border,star'"></animated-icon>
                  </button>
            </div>
      </mat-toolbar>


      <mat-sidenav-container fxFlex="auto" class="transparent" [style.background]="board.settings.color.colorLight">
            <!-- Menu -->
            <mat-sidenav #sideNavSettings mode="side" [(opened)]="settings" position="end" autosize>
                 Hola
            </mat-sidenav> 
            <mat-sidenav-content fxLayout="row">
                  <div cdkDropListGroup [formGroup]="listsTitleForm">
                        <div cdkDropList formArrayName="lists" cdkDropListOrientation="horizontal" [cdkDropListData]="board.lists" (cdkDropListDropped)="drop($event)">
                              <!-- Lists -->
                              <div *ngFor="let list of board.lists; index as listIndex" fxFlex="300px" class="board-item" [formGroupName]="listIndex" cdkDrag>
                                    <mat-card class="item-card">
                                          <mat-card-actions fxLayout="column">
                                                <!-- Title Bar -->
                                                <div fxLayout="row">
                                                      <div *ngIf="!list.isListEditable" class="list-label" (click)="list.isListEditable = true" cdkDragHandle>{{list.name}}</div>
                                                      <input *ngIf="list.isListEditable" spellcheck="false" class="list-textarea" formControlName="name" (blur)="updateListName(listIndex)" autoFocus>
                                                      <div class="list-edit" cdkDragHandle>
                                                            <mat-icon mat-icon-button svgIcon="menu" class="edit-icon" [matMenuTriggerFor]="listActions"></mat-icon> 
                                                      </div>
                                                      <mat-menu #listActions="matMenu">
                                                            <button mat-menu-item class="mat-menu-item">{{ 'APPLICATION.Boards.ListActions.CopyList' | translate }}</button>
                                                            <button mat-menu-item class="mat-menu-item">{{ 'APPLICATION.Boards.ListActions.MoveList' | translate }}</button>
                                                            <mat-divider></mat-divider>
                                                            <button mat-menu-item class="mat-menu-item" [matMenuTriggerFor]="sortOptions">{{ 'APPLICATION.Boards.ListActions.SortBy' | translate }}</button>
                                                            <mat-divider></mat-divider>
                                                            <button mat-menu-item class="mat-menu-item" [matMenuTriggerFor]="moveOptions">{{ 'APPLICATION.Boards.ListActions.MoveCards' | translate }}</button>
                                                            <button mat-menu-item class="mat-menu-item" [matMenuTriggerFor]="archiveCardsConfirmation">{{ 'APPLICATION.Boards.ListActions.ArchiveCards' | translate }}</button>
                                                            <mat-divider></mat-divider>
                                                            <button mat-menu-item class="mat-menu-item">{{ 'APPLICATION.Boards.ListActions.ArchiveList' | translate }}</button>
                                                            <button mat-menu-item class="mat-menu-item">{{ 'APPLICATION.Boards.ListActions.DeleteList' | translate }}</button>
                                                      </mat-menu> 
                                                      <mat-menu #sortOptions="matMenu">
                                                            <button mat-menu-item class="mat-menu-item" (click)="list.sortBy(0)">{{ 'APPLICATION.Boards.ListActions.SortByOptions.CardName' | translate }}</button>
                                                            <button mat-menu-item class="mat-menu-item" (click)="list.sortBy(1)">{{ 'APPLICATION.Boards.ListActions.SortByOptions.DateCreatedA' | translate }}</button>
                                                            <button mat-menu-item class="mat-menu-item" (click)="list.sortBy(2)">{{ 'APPLICATION.Boards.ListActions.SortByOptions.DateCreatedD' | translate }}</button>
                                                            <button mat-menu-item class="mat-menu-item" (click)="list.sortBy(3)">{{ 'APPLICATION.Boards.ListActions.SortByOptions.DateModifiedA' | translate }}</button>
                                                            <button mat-menu-item class="mat-menu-item" (click)="list.sortBy(4)">{{ 'APPLICATION.Boards.ListActions.SortByOptions.DateModifiedD' | translate }}</button>
                                                      </mat-menu>
                                                      <mat-menu #moveOptions="matMenu">
                                                            <div *ngFor="let movingItem of board.lists; index as moveIndex">
                                                                  <button mat-menu-item class="mat-menu-item" *ngIf="movingItem.id != list.id" (click)="moveListTo(listIndex, moveIndex)">{{movingItem.name}}</button>
                                                            </div>
                                                      </mat-menu>
                                                      <mat-menu #archiveCardsConfirmation="matMenu">
                                                            <div class="mat-content-menu-custom">
                                                                  <div (click)="$event.stopPropagation()" class="mat-menu-text">{{ 'APPLICATION.Boards.ListActions.ArchiveCardsDialog.Text' | translate }}</div>
                                                                  <button mat-raised-button color="warn" class="mat-menu-button">{{ 'APPLICATION.Boards.ListActions.ArchiveCardsDialog.Button' | translate }}</button>
                                                            </div>
                                                      </mat-menu>
                                                </div>
                                                <!-- Cards -->
                                                <div style="min-height: 10px;" cdkDropList [id]="list.name" [cdkDropListData]="list.cards" [cdkDropListConnectedTo]="trackCardListNames" (cdkDropListDropped)="dropCard($event)">
                                                      <div *ngFor="let card of list.cards; index as itemIndex" class="board-subitem" cdkDrag>
                                                            <mat-card class="task-card" (mouseenter)='cardenter($event, listIndex, itemIndex)' (mouseleave)="cardleave($event)">
                                                                  <mat-card-content fxLayout="row">
                                                                        <span class="title">{{card.name}}</span>
                                                                        <div class="edit" *ngIf="itemIndex == CurrentItem && listIndex == CurrentList">
                                                                              <mat-icon mat-icon-button svgIcon="edit" class="edit-icon"></mat-icon> 
                                                                        </div>
                                                                  </mat-card-content>
                                                            </mat-card>                                    
                                                      </div>
                                                </div>
                                                <!-- Add Card -->
                                                <div class="board-subitem">
                                                      <mat-card class="add-task-card" (mouseenter)='cardenter($event)' (mouseleave)="cardleave($event)" (clickOutside)="addibleCardHandler(false, listIndex)">
                                                            <mat-card-content (clickInside)="addibleCardHandler(true, listIndex)">
                                                                  <div fxLayout="row" class="board-title-item" *ngIf="!list.isCardAddible">
                                                                        <mat-icon mat-icon-button svgIcon="add" class="edit-icon"></mat-icon>
                                                                        <div class="label">{{ 'APPLICATION.Boards.AddCard' | translate }}</div>
                                                                  </div>
                                                                  <div *ngIf="list.isCardAddible">
                                                                        <textarea matInput autoFocus spellcheck="false" class="textarea-title" [formControl]="newCardFormControl" placeholder="{{ 'APPLICATION.Boards.AddList-input' | translate }}">{{newTitle}}</textarea>
                                                                        <button mat-raised-button color="primary" class="task-button" disabled="{{!newCardFormControl.valid}}" (click)="newCard(listIndex)">Add</button>
                                                                        <button mat-raised-button color="warn" class="task-button" (click)="cancelCard(listIndex);$event.stopPropagation()">Cancel</button>
                                                                  </div>
                                                            </mat-card-content>
                                                      </mat-card>  
                                                </div>
                                          </mat-card-actions>
                                    </mat-card>
                              </div>
                              <!-- Add List -->
                              <div class="board-item" fxFlex="300px" (clickOutside)="addibleListHandler(false)">
                                    <mat-card class="add-list-card"  (clickInside)="addibleListHandler(true)">
                                          <mat-card-actions fxLayout="column">
                                                <div fxLayout="row" class="board-title-item" *ngIf="!isNewTitleEditable">
                                                      <mat-icon mat-icon-button svgIcon="add" class="edit-icon"></mat-icon>
                                                      <div class="label">{{ 'APPLICATION.Boards.AddList' | translate }}</div>
                                                </div>
                                                <div class="board-title-item"  *ngIf="isNewTitleEditable">
                                                      <input class="textarea-title" spellcheck="false" [formControl]="newTitleFormControl" placeholder="{{ 'APPLICATION.Boards.AddList-input' | translate }}" autoFocus>
                                                      <button mat-raised-button color="primary" class="list-button" disabled="{{!newTitleFormControl.valid}}" (click)="newListCard()">Add</button>
                                                      <button mat-raised-button color="warn" class="list-button" (click)="addibleListHandler(false);$event.stopPropagation()">Cancel</button>
                                                </div>
                                          </mat-card-actions>
                                    </mat-card>
                              </div>
                        </div>
                  </div>
            </mat-sidenav-content>
      </mat-sidenav-container>
</div>