.transparent{
    background: transparent;
    padding-top: 5px;
}

/*
/* Button Animation CSS
/*    */
.btnLabelTranslateX{
    width: fit-content;
    margin: auto;
}
.btnSpinnerTranslateX{
    display: inline-block; 
    position: absolute; 
    top: 15%;
}