<div fxLayout="row wrap" fxLayoutGap="3px" style="max-width: 240px;">
      <div fxFlex="36px" class="radius" *ngFor="let user of selectedUsers" (mouseenter)='cardenter($event)' (mouseleave)="cardleave($event)">
            <ngx-avatar name="{{user.fullname}}" size="36" textSizeRatio="3"></ngx-avatar>
      </div>
      <button mat-button [ngClass]="(selectedUsers.length !== 0) ? 'only-icon-button' : 'icon-button'" [matMenuTriggerFor]="membersselector">
            <div *ngIf="selectedUsers.length !== 0">
                  <mat-icon svgIcon="add" class="no-vertical-alignment"></mat-icon>   
            </div>
            <div *ngIf="selectedUsers.length === 0">
                  <mat-icon svgIcon="user" class="no-vertical-alignment"></mat-icon>
                  {{ 'APPLICATION.Common.Members.No-Members' | translate }}
            </div>
      </button>
</div>

<mat-menu #membersselector="matMenu">
      <div class="menu-content-small" fxLayout="column" fxLayoutGap="8px" (click)="stopPropagation($event)">
            <input matInput spellcheck="false" class="search-textarea" placeholder="{{ 'APPLICATION.Common.Members.Search-input' | translate }}" [formControl]="searchFormControl" (input)="userSearcherUpdated()" autoFocus/>
            <div>
                  <div *ngFor="let user of filteredUsers">
                        <mat-card class="menu-item-pointable" (mouseenter)='cardenter($event)' (mouseleave)="cardleave($event)" (click)="selectUser(user._id)">
                              <mat-card-content fxLayout="row" fxLayoutGap="7px">
                                    <ngx-avatar name="{{user.fullname}}" size="36" textSizeRatio="3"></ngx-avatar>
                                    <div fxLayout="column" class="user-properties-centered">
                                          <span class="text">{{user.fullname}}</span>
                                          <div class="sub-text" fxLayout="row" fxLayoutGap="6px">
                                                <span class="bold">{{user.company}}</span>
                                                <span class="italic" *ngIf="user.position !== undefined">{{user.position}}</span>
                                                <span class="italic" *ngIf="user.position === undefined">{{ 'APPLICATION.Common.Members.Position-not-defined' | translate }}</span>
                                          </div>
                                    </div>
                                    <div class="align-right user-properties-selected" [@onSelectionChange]="canReturn">
                                          <mat-icon mat-icon-button svgIcon="done"></mat-icon>
                                    </div>
                              </mat-card-content>
                        </mat-card>      
                  </div>
            </div>
      </div>
</mat-menu> 